<!doctype html>
<html>

<head>
    <title>Gitlab issue reporter</title>
    <link rel="stylesheet" type="text/css" href="vendor/semantic/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="vendor/jquery-3.2.1.min.js"></script>
    <script src="vendor/semantic/semantic.min.js"></script>
</head>

<body>
    <div class="ui text container">
        <div class="ui form">
            <h4 class="ui dividing header">
                Options:
            </h4>
            <div class="field">
                <label>Api key*</label>
                <textarea id="apikey" rows="1"></textarea>
            </div>
            <div class="field">
                <label>Gitlab url*</label>
                <textarea id="gitlabUrl" rows="1"></textarea>
            </div>

            <div class="field">
                <label>Project name*</label>
                <textarea id="projectName" rows="1"></textarea>
            </div>

            <div class="field">
                <button id="submit" class="ui primary button">Save settings</button>
            </div>
        </div>
    </div>
    <script src="options.js"></script>
</body>

</html>